.header {
    height: 100vh;
    background-image: url(https://unicoderbd.com/theme/html/chaka/assets/images/slider/slider_bg.png);
    background-size: cover;
    background-position: center;
  }
.text{
  padding-top: 200px;
}